/* this is for the audio player */
.playButtons {
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Dark mode */
.darkMode > 
.ui.dividing.header {
    color: white;
}

body > ul {
    color: black;
}
